	<div class="container" style="margin-left: -15px ; margin: top -0px; border-style: none;" >
		<div class="row">
		  <div class="col-md-8 col-lg-7">
			<div class="card  h-100 ">
				<img 	src="assets/img/fondorepadie.jpg"
						class="img-fluid img-fluid flex-md-grow-1 img-adaptation" 
						alt="Responsive image"
				>
			</div>
		  </div>
		  <div class="col-md-4 col-lg-4" style="margin-bottom: 57%;">

					<div class="col-sm-4">
						<div class="card shadow p-3 mb-5 superponer">
							
							<div class="card-body">
								<div class="card-body card shadow mt-100 posiciondiv" >
									<img 	src="assets/img/logorepadie1.png" 
											class="img-fluid flex-md-grow-1 "
											alt="Responsive image">
								</div>
								
								<h3 class="color-azulrepadie1" style="text-align: center; ">LogIn</h3>								
								<p class="color-azulrepadie1" style="text-align: center;">
									Estimado usuario, autentiquese para ingresar!
								</p>
								<br>
								<form [formGroup]="loginForm" class="theme-form" *ngIf="!newUser">
									<div class="form-group">
					
										<input class="form-control mb-3" style="border-radius: 10px;" id="userName"
											formControlName="userName" type="email" placeholder="Usuario">
										<div class="alert alert-danger" *ngIf="loginForm.get('userName')?.invalid 
																			  && loginForm.get('userName')?.touched">
											este campo no debe ser vacio!
										</div>
									</div>
					
									<div class="form-group">
					
										<input class="form-control mb-3" style="border-radius: 10px;" type="password"
											formControlName="password" placeholder="Contraseña">
										<div class="alert alert-danger" *ngIf="loginForm.get('password')?.invalid 
																			  && loginForm.get('password')?.touched">
											este campo no debe ser vacio!
										</div>
					
									</div>
					
									<div class="checkbox p-0">
										<input id="checkbox1" type="checkbox">
										<label class="color-azulrepadie1" style="text-align: center; " for="checkbox1">Recuperar Contraseña</label>
									</div>
					
									<div class="form-group form-row mt-3 mb-0">
					
										<button class="btn btn-outline-success btn-block color-azulrepadie1" [disabled]="loginForm.invalid"
											style="border-radius: 10px; width: 100%;" (click)="login();">
											Iniciar Sessión
										</button>
										<div class="alert alert-warning" *ngIf="submitted && isLoginFailed">
											Login failed- {{ errorMessage }}
										</div>
									</div>
									<div class="login-divider"></div>
					
								</form>
							</div>
						</div>
					</div>
				  </div>
				  <div class="col-md-12">
					<div class="">
					  <!-- <h2>Lorem ipsum dolor sit amet, </h2>
					  <img src="https://picsum.photos/800/500.webp" class="img-fluid img-adaptation" alt="Responsive image"> -->
					</div>
				  </div>
				  
				<!-- </div>
			  </div>
	
			</div> -->
		  </div>
		</div>
<!-- para la pantalla que sera de md hasta extra grande -->
<!-- <div class="row d-none d-md-block" *ngIf= "isLoggedin==false" >
	<div class="row">
		<div class="col-md-8">
			<img src="assets/images/fondorepadie.jpg" class="img-fluid img-fondo">
		</div>
		<div class="col-md-4">
			<div class="col-sm-4" style="margin-left: 33%; margin-top: 8%; margin-right: 5%;">
				<div class="card shadow p-3 mb-5 superponer" >
				  
				  <div class="card-body" >
					  <h3 style="text-align: center; color: #4E8371;">LogIn</h3>
					  <p style="text-align: center; color: #4E8371;">Estimado usuario, autentiquese para ingresar!</p>
					  <br>
					  <form [formGroup]="loginForm"  class="theme-form"  *ngIf="!newUser">
						  <div class="form-group">
							  
							  <input class="form-control mb-3" style="border-radius: 10px;"   id="userName"
							  formControlName="userName" type="email"  placeholder="email">
							  <div class="alert alert-danger" *ngIf="loginForm.get('userName')?.invalid 
												  && loginForm.get('userName')?.touched">
												  este campo no debe ser vacio!
							  </div>
						  </div>
						  
						  <div class="form-group">
							  
							  <input class="form-control mb-3" style="border-radius: 10px;"   type="password" formControlName="password"  placeholder="password">
							  <div class="alert alert-danger" *ngIf="loginForm.get('password')?.invalid 
												  && loginForm.get('password')?.touched">
												  este campo no debe ser vacio!
							  </div>
		  
						  </div>
						  
						  <div class="checkbox p-0">
							  <input id="checkbox1" type="checkbox">
							  <label style="text-align: center; color: #4E8371;" for="checkbox1">Remember me</label>
						  </div>
						  <div class="form-group form-row mt-3 mb-0">
							  
							  <button class="btn btn-outline-success btn-block" [disabled]="loginForm.invalid" style="border-radius: 10px; width: 100%;"
							  (click)="login();">
							  	  Submit
							  </button>
							  <div class="alert alert-warning" *ngIf="submitted && isLoginFailed">
								  Login failed- {{ errorMessage }}
								</div>
						  </div>
						  <div class="login-divider"></div>
						  
					  </form>
				  </div>
				</div>
			  </div>
		</div>
		
	</div>
	
</div> -->
