.img-fondo{
    /* background-image: url("../../assets/img/login2.jpg"); */
    /* background-repeat: no-repeat; */
    /* position: absolute; */
    right: 0;
    top: 0;
    z-index: -100;
    opacity: 1.0;
  }
  
  .posiciondiv{
    /* margin-left: 33%; 
    margin-top: 8%; 
    margin-right: 5%; */
    display: block;
    position: absolute;
    top: 5%;
    left: 30%;
    height: 50px;
    width: 39%;
    z-index: 2;
  }

  .color-azulrepadie1{
    color: #005587;
    /* border: #005587; */
  }
  .loader--text {
      position: absolute;
      top: 200%;
      left: 0;
      right: 0;
      margin: auto;
    }
    .loader--text:after {
      content: "Loading";
      font-weight: bold;
      animation-name: loading-text;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    
  .loader-container-max{
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 10px;
    top: 50%;
    left: 47%;
    z-index: 1;
  }
  
  .loader-container-max .loader1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color: #c35928;
    border-left-color: #c35928;
    border-radius: 50%;
    animation: loader 1.2s linear infinite;
  }
  .loader-container-max .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-top-color: #9CD0EA;
    border-left-color: #9CD0EA;
    border-radius: 50%;
    animation: loader2 1.2s linear infinite;
  }
  
  
  .loader-container-min{
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 10px;
    top: 98%;
    left: 39%;
    z-index: 2;
  }
  
  .loader-container-min .loader1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color: #c35928;
    border-left-color: #c35928;
    border-radius: 50%;
    animation: loader 1.2s linear infinite;
  }
  .loader-container-min .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-top-color: #9CD0EA;
    border-left-color: #9CD0EA;
    border-radius: 50%;
    animation: loader2 1.2s linear infinite;
  }
  .superponer{
    border-radius: 35px; 
    background-color:#EFF2F1; 
    opacity: 0.90; 
    position: absolute;
    left: 55%;
    top: 25%;
    z-index: 3;
  }
  
  @keyframes loader{
    0%{
      transform: translate(-50%,  -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%,  -50%) rotate(360deg);
  
    }
  }
  
  @keyframes loader2{
    0%{
      transform: translate(-50%,  -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%,  -50%) rotate(-360deg);
  
    }
  }
  